# 2. IMDB_Data_Wrangling<a id='2_Data_wrangling'></a>

## 2.1 Table of Contents<a id='2.1_Contents'></a>
* 2. IMDB_Data_Wrangling
  * 2.1 Table of Contents
  * 2.2 Introduction
  * 2.3 Imports
  * 2.4 Retrieve IMDB Movie Data
      * 2.4.1 Intial Data Retrieval
      * 2.4.2 Assess & Drop Null Values
      * 2.4.3 Retrieve IMDB Poster Image Data
  * 2.5 Target Feature (Movie Genres)
  * 2.6 Save data
  * 2.7 Summary

## 2.2 Introduction

In the Data Wrangling/Cleaning phase, data needs first be retrieved by the IMDB API Get request and then transformed from json into pandas dataframe for further manipulation and exported to .csv.

## 2.3 Imports<a id='2.3_Imports'></a>

Importing all appropriate packages in order to access requests and organize/clean json data to pandas dataframe.

In [152]:
#Import requests, json, pandas, numpy, matplotlib.pyplot, and seaborn
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 2.4 Retrieve IMDB Movie Data

### 2.4.1 Intial Data Retrieval

Dataset is retrieved with movie data from 1990 to past year of 2023 with filtered setting of the API Request for G and PG rated movies based on the company's focus on Family Friendly Movies.

In [79]:
# Intialize start and end datetime for IMDB API Get request
start_year = ['1990-01-01', '1991-01-01', '1992-01-01', '1993-01-01', '1994-01-01', '1995-01-01', '1996-01-01', '1997-01-01','1998-01-01', '1999-01-01','2000-01-01', '2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01']
end_year = ['1990-12-31', '1991-12-31', '1992-12-31', '1993-12-31', '1994-12-31', '1995-12-31', '1996-12-31', '1997-12-31','1998-12-31', '1999-12-31','2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31']

In [80]:
#Created a function in order to generate API requests and convert the request into a Pandas Dataframe based on start and end year
#Code for API Get Request found on IMDB Website: https://tv-api.com/api/#Search-header
#Code to convert json data into dict found on https://favtutor.com/blogs/string-to-dict-python
#Get keys from python dicts code found in https://tutorialdeep.com/knowhow/get-dictionary-value-key-python/
def imdb_data(start_year, end_year):
    url = f"https://tv-api.com/API/AdvancedSearch/k_8jnkh6yr?title_type=feature&release_date={start_year},{end_year}&certificates=us:G,us:PG&count=250"
    payload = {}
    headers = {}
    res = requests.request("GET", url, headers=headers, data=payload)
    movie_list = res.text.encode('utf8')
    movie_list_decode = json.loads(movie_list.decode('utf8'))
    movie_list = movie_list_decode['results']
    movie_df = pd.DataFrame(movie_list)
    return movie_df

In [35]:
#Created list of movie dataframes of movies from 1990 to 2023
movie_df_concat = []
for i in range(len(start_year)):
    movie_df_concat.append(imdb_data(start_year[i], end_year[i]))

In [222]:
#Joined the above dataframes to create a combinded dataframe for movie data from 1990 to 2023
#Code to join dataframes ignore_index found on https://www.statology.org/stack-pandas-dataframes/ and https://pandas.pydata.org/pandas-docs/version/1.3/reference/api/pandas.DataFrame.append.html
movie_df_total = pd.concat(movie_df_concat, ignore_index=True)
movie_df_total

,id,image,title,description,runtimeStr,genres,genreList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,plot,stars,starList
0,tt0099785,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Home Alone,1990,103 mins,"Comedy, Family","[{'key': 'Comedy', 'value': 'Comedy'}, {'key':...",PG,7.7,645257,63,"An eight-year-old troublemaker, mistakenly lef...",,[]
1,tt0099810,https://m.media-amazon.com/images/M/MV5BZDdkOD...,The Hunt for Red October,1990,135 mins,"Action, Adventure, Thriller","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,7.5,212075,58,"In November 1984, the Soviet Union's best subm...",,[]
2,tt0100758,https://m.media-amazon.com/images/M/MV5BNzg3NT...,Teenage Mutant Ninja Turtles,1990,93 mins,"Action, Adventure, Comedy","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.8,103577,51,Four teenage mutant ninja turtles emerge from ...,,[]
3,tt0099088,https://m.media-amazon.com/images/M/MV5BYjhlMG...,Back to the Future Part III,1990,118 mins,"Adventure, Comedy, Sci-Fi","[{'key': 'Adventure', 'value': 'Adventure'}, {...",PG,7.4,475051,55,"Stranded in 1955, Marty McFly learns about the...",,[]
4,tt0099422,https://m.media-amazon.com/images/M/MV5BMzA5MD...,Dick Tracy,1990,105 mins,"Action, Comedy, Crime","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.2,65117,68,The comic strip detective finds his life vastl...,,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4054,tt15426874,https://m.media-amazon.com/images/M/MV5BNmIwZj...,Seaper Powers: Mystery of the Blue Pearls,2023,66 mins,Animation,"[{'key': 'Animation', 'value': 'Animation'}]",PG,0,0,None,Emma works for NOAA as a diver and researcher....,,[]
4055,tt30133792,None,Justice League x RWBY: Super Heroes and Huntsmen,2023,None,"Animation, Action, Adventure","[{'key': 'Animation', 'value': 'Animation'}, {...",PG,0,0,None,Justice League x RWBY: Super Heroes and Huntsm...,,[]
4056,tt27838714,https://m.media-amazon.com/images/M/MV5BYjkxNz...,M&A,2023,84 mins,Documentary,"[{'key': 'Documentary', 'value': 'Documentary'}]",PG,0,0,None,Baby Boomers own 83% of businesses. It is $10 ...,,[]
4057,tt28018383,None,Graham Bullard Movie: Peanuts Meets the Loud H...,2023,89 mins,"Adventure, Comedy, Family","[{'key': 'Adventure', 'value': 'Adventure'}, {...",G,0,0,None,The Peanuts Gang and The Loud Family all have ...,,[]
4058,tt15440520,None,Journey - The Movie,2023,60 mins,Sci-Fi,"[{'key': 'Sci-Fi', 'value': 'Sci-Fi'}]",G,0,0,None,Explores all the In Earth and Out Earth places...,,[]

Audited the IMDB Dataset with .head() and .info() methods.

In [223]:
movie_df_total.head()

,id,image,title,description,runtimeStr,genres,genreList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,plot,stars,starList
0,tt0099785,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Home Alone,1990,103 mins,"Comedy, Family","[{'key': 'Comedy', 'value': 'Comedy'}, {'key':...",PG,7.7,645257,63,"An eight-year-old troublemaker, mistakenly lef...",,[]
1,tt0099810,https://m.media-amazon.com/images/M/MV5BZDdkOD...,The Hunt for Red October,1990,135 mins,"Action, Adventure, Thriller","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,7.5,212075,58,"In November 1984, the Soviet Union's best subm...",,[]
2,tt0100758,https://m.media-amazon.com/images/M/MV5BNzg3NT...,Teenage Mutant Ninja Turtles,1990,93 mins,"Action, Adventure, Comedy","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.8,103577,51,Four teenage mutant ninja turtles emerge from ...,,[]
3,tt0099088,https://m.media-amazon.com/images/M/MV5BYjhlMG...,Back to the Future Part III,1990,118 mins,"Adventure, Comedy, Sci-Fi","[{'key': 'Adventure', 'value': 'Adventure'}, {...",PG,7.4,475051,55,"Stranded in 1955, Marty McFly learns about the...",,[]
4,tt0099422,https://m.media-amazon.com/images/M/MV5BMzA5MD...,Dick Tracy,1990,105 mins,"Action, Comedy, Crime","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.2,65117,68,The comic strip detective finds his life vastl...,,[]

In [224]:
movie_df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4059 entries, 0 to 4058
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4059 non-null   object
 1   image             3973 non-null   object
 2   title             4059 non-null   object
 3   description       4058 non-null   object
 4   runtimeStr        4005 non-null   object
 5   genres            4059 non-null   object
 6   genreList         4059 non-null   object
 7   contentRating     4058 non-null   object
 8   imDbRating        4059 non-null   object
 9   imDbRatingVotes   4059 non-null   object
 10  metacriticRating  1471 non-null   object
 11  plot              4059 non-null   object
 12  stars             4059 non-null   object
 13  starList          4059 non-null   object
dtypes: object(14)
memory usage: 444.1+ KB

Looking at the above results, we can see that the "image" column for the data has some null values. However, all rows seem to have a genre value, but this will be investigated further. Rows with missing image data will be dropped as these will not be usable for future image classification. Stars and StarsList seem to be empty (blank) columns from intial pull of the dataset from the IMDB API.

### 2.4.2 Assess & Drop Null Values

After retrieving and converting the json data from the IMDB api into a dataframe, the dataframe is assessed for any null or blank columns for image data or genres. Movies with null values in these columns will be filtered out as the future image classifer needs both image data and a respective label or genre for training.

In [225]:
movie_df_total[movie_df_total['image'] == 'None']

Empty DataFrame
Columns: [id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [226]:
movie_df_total[movie_df_total['image'].isnull() == True]

,id,image,title,description,runtimeStr,genres,genreList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,plot,stars,starList
139,tt8987008,None,Hopes for a Miracle,1991,70 mins,"Drama, Family","[{'key': 'Drama', 'value': 'Drama'}, {'key': '...",G,0,0,None,A young dancer stricken with a physical illnes...,,[]
140,tt0219516,None,Athena: The Goddess Awakens,1991,None,Documentary,"[{'key': 'Documentary', 'value': 'Documentary'}]",PG,0,0,None,,,[]
205,tt2379689,None,Backlash: Race and the American Dream,1992,58 mins,Documentary,"[{'key': 'Documentary', 'value': 'Documentary'}]",G,0,0,None,Backlash: Race and the American Dream chronicl...,,[]
207,tt0104789,None,The Magical World of Chuck Jones,1992,93 mins,Documentary,"[{'key': 'Documentary', 'value': 'Documentary'}]",PG,6.7,116,None,Documentary on animator Chuck Jones.,,[]
208,tt11221864,None,Live the Life You Love,1992,None,,[],PG,0,0,None,,,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,tt13132110,None,Walking the Park with Walt,2021,190 mins,Biography,"[{'key': 'Biography', 'value': 'Biography'}]",PG,0,0,None,Interviewing Ben Harris and 6 other members of...,,[]
3981,tt25306094,None,BFDI Plush: A Trip to Las Vegas,2022,101 mins,"Adventure, Comedy, Family","[{'key': 'Adventure', 'value': 'Adventure'}, {...",G,0,0,None,It's time for the BFDI plushies to go on anoth...,,[]
4055,tt30133792,None,Justice League x RWBY: Super Heroes and Huntsmen,2023,None,"Animation, Action, Adventure","[{'key': 'Animation', 'value': 'Animation'}, {...",PG,0,0,None,Justice League x RWBY: Super Heroes and Huntsm...,,[]
4057,tt28018383,None,Graham Bullard Movie: Peanuts Meets the Loud H...,2023,89 mins,"Adventure, Comedy, Family","[{'key': 'Adventure', 'value': 'Adventure'}, {...",G,0,0,None,The Peanuts Gang and The Loud Family all have ...,,[]
4058,tt15440520,None,Journey - The Movie,2023,60 mins,Sci-Fi,"[{'key': 'Sci-Fi', 'value': 'Sci-Fi'}]",G,0,0,None,Explores all the In Earth and Out Earth places...,,[]

In [227]:
len(movie_df_total[movie_df_total['image'].isnull() == True])

86

In [228]:
movie_df_total[movie_df_total['image'] == ""]

Empty DataFrame
Columns: [id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [229]:
movie_df_total[movie_df_total['genres'] == 'None']

Empty DataFrame
Columns: [id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [230]:
movie_df_total[movie_df_total['genres'].isnull() == True]

Empty DataFrame
Columns: [id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [231]:
movie_df_total[movie_df_total['genres'] == ""]

,id,image,title,description,runtimeStr,genres,genreList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,plot,stars,starList
208,tt11221864,None,Live the Life You Love,1992,None,,[],PG,0,0,None,,,[]
294,tt0107959,None,The Ride,1993,None,,[],PG,0,0,None,,,[]
397,tt0109845,None,Friend for a Day,1994,94 mins,,[],PG,0,0,None,,,[]
484,tt0114409,https://m.media-amazon.com/images/M/MV5BMGQzYm...,Shakuhachi,1995,60 mins,,[],G,0,0,None,Shakuhachi - the Japanese flute has a very rel...,,[]
485,tt0310978,https://m.media-amazon.com/images/M/MV5BMWUwMW...,Dark Passage to Wan,1995,60 mins,,[],G,0,0,None,,,[]
744,tt0384129,https://m.media-amazon.com/images/M/MV5BMTc1MD...,Girl Cottage,1998,98 mins,,[],PG,0,0,None,,,[]
745,tt0161956,None,Sammy the Squirrel,1998,None,,[],G,0,0,None,,,[]
748,tt0161734,None,King of the Birds,1998,None,,[],G,0,0,None,,,[]
749,tt0161727,None,Jungle Bungle,1998,None,,[],G,0,0,None,,,[]
846,tt0220392,None,The Dinosaur Piece,1999,None,,[],G,0,0,None,,,[]
1011,tt0321040,None,Ziti hui mie,2001,60 mins,,[],PG,7.5,15,None,The sequel to the original web movie. The cont...,,[]
1091,tt0335591,https://m.media-amazon.com/images/M/MV5BNjIyNj...,Mary and Joe,2002,102 mins,,[],PG,4.6,38,None,What if Jesus were born in the year 2002 to a ...,,[]
1103,tt6447558,https://m.media-amazon.com/images/M/MV5BYWNjOG...,Les Etoiles filantes,2002,None,,[],G,0,0,None,,,[]
1105,tt0206836,None,Mystery at Sam's,2002,78 mins,,[],PG,7.3,20,None,,,[]
1382,tt3959774,None,Annette's Raw Kitchen,2005,120 mins,,[],G,0,0,None,Annette delights and entertains while demonstr...,,[]
1509,tt0861770,None,Fire Creek,2006,None,,[],PG,6.6,35,None,"Spared by a God he didn't believe in, Jason Ma...",,[]
1532,tt2981534,https://m.media-amazon.com/images/M/MV5BMGRkOD...,Roger Hodgson: Take the Long Way Home - Live i...,2006,59 mins,,[],G,9.1,11,None,,,[]
1540,tt1437381,https://m.media-amazon.com/images/M/MV5BNDQ4Nz...,A Sacred Proof,2006,60 mins,,[],PG,0,0,None,"Challenged by Harvard Magazine to prove ""intel...",,[]
1824,tt2233194,https://m.media-amazon.com/images/M/MV5BNDAxNz...,On Wheels Brasil,2008,53 mins,,[],PG,0,0,None,"Following the lives of people that push, pull,...",,[]
1825,tt2882888,https://m.media-amazon.com/images/M/MV5BMTQ1OT...,Hawaii Underwater Paradise,2008,62 mins,,[],G,0,0,None,"In this documentary, we go underwater to explo...",,[]
1826,tt1378803,https://m.media-amazon.com/images/M/MV5BYmY3Ym...,Touch,2008,None,,[],G,0,0,None,An old man has an enchanting encounter with a ...,,[]
2162,tt2238954,https://m.media-amazon.com/images/M/MV5BMjIzMD...,Last White Man Standing,2010,53 mins,,[],PG,6.9,10,None,"Tom Cholmondeley, heir to the largest white-ow...",,[]
2170,tt2217494,https://m.media-amazon.com/images/M/MV5BMjA1MT...,Art of the Japanese Sword,2010,83 mins,,[],G,0,0,None,The Japanese sword ... prized as much for its ...,,[]
2172,tt1726706,None,Once Upon an Island,2010,None,,[],G,0,0,None,,,[]
2176,tt3124630,https://m.media-amazon.com/images/M/MV5BMjYxMD...,Talking with Buddha,2010,78 mins,,[],G,0,0,None,A heart warming journey among Tibetan Buddhist...,,[]
2352,tt2278880,https://m.media-amazon.com/images/M/MV5BMTM4Nj...,Acrobat,2011,52 mins,,[],PG,0,0,None,Fabrice Champion was an accomplished trapeze a...,,[]
2479,tt9778374,https://m.media-amazon.com/images/M/MV5BNzFkZD...,Galapagos: Realm of Giant Sharks,2012,53 mins,,[],G,6.8,57,None,Follow a group of researchers traveling to Dar...,,[]
2530,tt5038694,https://m.media-amazon.com/images/M/MV5BNDgwNj...,Antisocial Old Buggers,2012,50 mins,,[],PG,0,0,None,There's a new scourge causing mayhem in Great ...,,[]
2687,tt5502078,https://m.media-amazon.com/images/M/MV5BMjE3Nz...,The Carol Burnett Show: Carol's Favorites,2013,158 mins,,[],G,8.1,10,None,Starting in 1967 and continuing for 11 straigh...,,[]
2699,tt3514816,https://m.media-amazon.com/images/M/MV5BMTgyNj...,The Corsican Brothers,2013,52 mins,,[],G,0,0,None,"Set in Corsica and Paris in the year 1841, thi...",,[]
2889,tt3716178,https://m.media-amazon.com/images/M/MV5BMjExNz...,Sarah & Suzanne,2014,52 mins,,[],G,0,0,None,When Alabama's Sarah Patterson and Georgia's S...,,[]
2895,tt5191232,https://m.media-amazon.com/images/M/MV5BMjEzMD...,We Were Promised Jetpacks: E Rey,2014,70 mins,,[],PG,0,0,None,Recorded at Union Transfer in Philadelphia and...,,[]
2904,tt4995334,https://m.media-amazon.com/images/M/MV5BMTQ2OT...,WWE Ultimate Warrior: The Ultimate Collection ...,2014,182 mins,,[],PG,0,0,None,Experience the power of the Ultimate Warrior l...,,[]
3039,tt4499716,https://m.media-amazon.com/images/M/MV5BMTUxMz...,Lalaloopsy: Festival of Sugary Sweets,2015,46 mins,,[],G,7.5,14,None,When a sugar shortage threatens the annual Fes...,,[]
3057,tt5078458,https://m.media-amazon.com/images/M/MV5BMjMxMz...,Transworld 20 Tricks Vol. 7,2015,58 mins,,[],PG,0,0,None,TransWorld SNOWboarding presents 20 Tricks Vol...,,[]
3066,tt5116932,https://m.media-amazon.com/images/M/MV5BMjA3OD...,2032: The Thirty Two Movie,2015,48 mins,,[],PG,0,0,None,The ThirtyTwo team celebrated its 20-year mile...,,[]
3078,tt5116930,https://m.media-amazon.com/images/M/MV5BMjI3MD...,1000 Waves to Surfing Glory: Pop up Edition,2015,49 mins,,[],G,0,0,None,This special edition travel film has pop up bu...,,[]
3086,tt5078456,https://m.media-amazon.com/images/M/MV5BMTg1ND...,Trax: The Evolution of Snow Bikes,2015,88 mins,,[],PG,0,0,None,"Trax ""Evolution of snow bikes"" will inspire mo...",,[]
3087,tt5131372,https://m.media-amazon.com/images/M/MV5BODkwND...,Balance,2015,45 mins,,[],PG,0,0,None,What makes you happy? Legendary pro snowboarde...,,[]
3089,tt5160602,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Thunderstruck 14,2015,112 mins,,[],PG,0,0,None,In a winter where little snow fell and summer-...,,[]
3092,tt5134324,https://m.media-amazon.com/images/M/MV5BNjA5Nz...,Le Mans 2015,2015,248 mins,,[],G,6.1,10,None,The official review of another sensational edi...,,[]
3093,tt4896232,https://m.media-amazon.com/images/M/MV5BMjA4Nj...,Boulez Conducts BartÃ³k,2015,103 mins,,[],G,0,0,None,An All-BartÃ³k programme featuring one of the ...,,[]
3251,tt6096300,https://m.media-amazon.com/images/M/MV5BNDZjZD...,Engrams,2016,103 mins,,[],PG,8.7,39,None,Like Jim Carrey's Eternal Sunshine of the Spot...,,[]
3261,tt10151496,https://m.media-amazon.com/images/M/MV5BOTYyMj...,The White House: Inside Story,2016,115 mins,,[],PG,8.1,22,None,It's America's most iconic residence - symbol ...,,[]
3287,tt6449826,https://m.media-amazon.com/images/M/MV5BOWI2Zm...,Good Night,2016,None,,[],G,0,0,None,,,[]

In [232]:
len(movie_df_total[movie_df_total['genres'] == ""])

45

Looking at the above results, it seems that the image column and genres column have different methods of input for missing or null values. The image column has missing values as null with 86 movies listed and the genre column has missing values as being blank with 45 movies listed. Both this columns null valued movie titles will be filtered out as the image classifier needs both an image and a predefined label in order to train.

In [233]:
movie_df_clean = movie_df_total[movie_df_total['image'].isnull() == False]

In [234]:
movie_df_clean = movie_df_clean[movie_df_clean['genres'] != ""]

In [235]:
#After filtering out null values, the dataframe's index is reset. Code to reset index found on https://www.geeksforgeeks.org/python-pandas-dataframe-reset_index/
movie_df_clean[movie_df_clean['image'].isnull() == True]
movie_df_clean = movie_df_clean.reset_index()

In [236]:
movie_df_clean[movie_df_clean['image'].isnull() == True]

Empty DataFrame
Columns: [index, id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [237]:
movie_df_clean[movie_df_clean['genres'] == ""]

Empty DataFrame
Columns: [index, id, image, title, description, runtimeStr, genres, genreList, contentRating, imDbRating, imDbRatingVotes, metacriticRating, plot, stars, starList]
Index: []

In [238]:
movie_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3940 non-null   int64
 1   id                3940 non-null   object
 2   image             3940 non-null   object
 3   title             3940 non-null   object
 4   description       3939 non-null   object
 5   runtimeStr        3908 non-null   object
 6   genres            3940 non-null   object
 7   genreList         3940 non-null   object
 8   contentRating     3939 non-null   object
 9   imDbRating        3940 non-null   object
 10  imDbRatingVotes   3940 non-null   object
 11  metacriticRating  1470 non-null   object
 12  plot              3940 non-null   object
 13  stars             3940 non-null   object
 14  starList          3940 non-null   object
dtypes: int64(1), object(14)
memory usage: 461.8+ KB

In [239]:
movie_df_clean.shape

(3940, 15)

Final shape of this "cleaned" dataset is (3940, 15) after removing movies without a poster image or genre listed.

### 2.4.3 Retrieve IMDB Poster Image Data

After creating a "cleaned" dataset for no null image and genre values, images are then retrieved from the urls listed in the 'image' column of the dataframe and saved into the corresponding file folder for the future image classification model.

In [217]:
#For loop to save the image naming it with the movie id from the url. Images are then moved into an the approrpaite file folder 
#Actual code block not able to be retrieved for addressing errors in requests but it diagnosed error cause to not having an appropriate headers to accept application/json
#Similar explanation for headers seen on ChatGPT search https://chat.openai.com/c/85f15339-0e94-4816-a444-bf82bc5fad63 with start phrase: Python, remote forcibly closed connection, how to fix get request
#Code for handling timeouts in get requests found on https://stackoverflow.com/questions/21965484/timeout-for-python-requests-get-entire-response
for i in range(len(movie_df_clean)-1):
    url = movie_df_clean['image'][i]
    headers = {'accept':'application/json',}
    data = requests.get(url, headers=headers, timeout=60).content
    f = open(f"{movie_df_clean['id'][i]}.jpg",'wb')
    f.write(data)
    f.close()

## 2.5 Target Feature (Movie Genres)

After retreiving the movie dataset, the target feature for genres needs to be created for the output layer for the future deep learning model.

In [240]:
#Split genres column based on ',' in order to retrieve unique genre values for movies
#Code to split dataframe columns based on ',' found on https://stackoverflow.com/questions/14745022/how-to-split-a-dataframe-string-column-into-two-columns
movie_df_clean[['Genre_1', 'Genre_2']] = movie_df_clean['genres'].str.split(',', n=1, expand=True)
movie_df_clean[['Genre_2', 'Genre_3']] = movie_df_clean['Genre_2'].str.split(',', n=1, expand=True)
movie_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3940 entries, 0 to 3939
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             3940 non-null   int64
 1   id                3940 non-null   object
 2   image             3940 non-null   object
 3   title             3940 non-null   object
 4   description       3939 non-null   object
 5   runtimeStr        3908 non-null   object
 6   genres            3940 non-null   object
 7   genreList         3940 non-null   object
 8   contentRating     3939 non-null   object
 9   imDbRating        3940 non-null   object
 10  imDbRatingVotes   3940 non-null   object
 11  metacriticRating  1470 non-null   object
 12  plot              3940 non-null   object
 13  stars             3940 non-null   object
 14  starList          3940 non-null   object
 15  Genre_1           3940 non-null   object
 16  Genre_2           2920 non-null   object
 17  Genre_3           1991 non-null   object
dtypes: int64(1), object(17)
memory usage: 554.2+ KB

After creating separate feature for the different genre labels for the movie, if the movie genre feature has a null value, this will be saved as genre label of 'None' for the future image classifier.

In [245]:
#Adding 'None' for any null values in the movie genre features
movie_df_clean = movie_df_clean.replace({np.nan:'None'})
movie_df_clean

,index,id,image,title,description,runtimeStr,genres,genreList,contentRating,imDbRating,imDbRatingVotes,metacriticRating,plot,stars,starList,Genre_1,Genre_2,Genre_3
0,0,tt0099785,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Home Alone,1990,103 mins,"Comedy, Family","[{'key': 'Comedy', 'value': 'Comedy'}, {'key':...",PG,7.7,645257,63,"An eight-year-old troublemaker, mistakenly lef...",,[],Comedy,Family,None
1,1,tt0099810,https://m.media-amazon.com/images/M/MV5BZDdkOD...,The Hunt for Red October,1990,135 mins,"Action, Adventure, Thriller","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,7.5,212075,58,"In November 1984, the Soviet Union's best subm...",,[],Action,Adventure,Thriller
2,2,tt0100758,https://m.media-amazon.com/images/M/MV5BNzg3NT...,Teenage Mutant Ninja Turtles,1990,93 mins,"Action, Adventure, Comedy","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.8,103577,51,Four teenage mutant ninja turtles emerge from ...,,[],Action,Adventure,Comedy
3,3,tt0099088,https://m.media-amazon.com/images/M/MV5BYjhlMG...,Back to the Future Part III,1990,118 mins,"Adventure, Comedy, Sci-Fi","[{'key': 'Adventure', 'value': 'Adventure'}, {...",PG,7.4,475051,55,"Stranded in 1955, Marty McFly learns about the...",,[],Adventure,Comedy,Sci-Fi
4,4,tt0099422,https://m.media-amazon.com/images/M/MV5BMzA5MD...,Dick Tracy,1990,105 mins,"Action, Comedy, Crime","[{'key': 'Action', 'value': 'Action'}, {'key':...",PG,6.2,65117,68,The comic strip detective finds his life vastl...,,[],Action,Comedy,Crime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3935,4051,tt11650502,https://m.media-amazon.com/images/M/MV5BODZlNG...,Touch the Water,2023,94 mins,Drama,"[{'key': 'Drama', 'value': 'Drama'}]",PG,8.4,14,None,When an intern at a Senior Center challenges a...,,[],Drama,None,None
3936,4052,tt21862696,https://m.media-amazon.com/images/M/MV5BYjZmND...,Snow White's Christmas Adventure,2023,None,Family,"[{'key': 'Family', 'value': 'Family'}]",G,0,0,None,,,[],Family,None,None
3937,4053,tt0122511,https://m.media-amazon.com/images/M/MV5BMTQwMW...,The Gnomes Great Adventure,2023,74 mins,"Animation, Adventure, Comedy","[{'key': 'Animation', 'value': 'Animation'}, {...",G,6.1,63,None,When a bunch of dim-witted trolls steal the Ki...,,[],Animation,Adventure,Comedy
3938,4054,tt15426874,https://m.media-amazon.com/images/M/MV5BNmIwZj...,Seaper Powers: Mystery of the Blue Pearls,2023,66 mins,Animation,"[{'key': 'Animation', 'value': 'Animation'}]",PG,0,0,None,Emma works for NOAA as a diver and researcher....,,[],Animation,None,None
3939,4056,tt27838714,https://m.media-amazon.com/images/M/MV5BYjkxNz...,M&A,2023,84 mins,Documentary,"[{'key': 'Documentary', 'value': 'Documentary'}]",PG,0,0,None,Baby Boomers own 83% of businesses. It is $10 ...,,[],Documentary,None,None

In [246]:
#Stack the genre columns into one genre list, strip whitespaes, and remove duplicates and null values to retrieve target genres
#Code for stacking dataframes vertically found on https://www.geeksforgeeks.org/stack-two-pandas-series-vertically-and-horizontally/
#Code for removing whitespace found on https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html
genre_list = pd.concat([movie_df_clean['Genre_1'], movie_df_clean['Genre_2'], movie_df_clean['Genre_3']], axis=0, ignore_index = True)
genres = genre_list.str.strip()
dropped = genres.drop_duplicates()
dropped.replace('','None', inplace=True)
target_genres = dropped.dropna()
target_genres

0            Comedy
1            Action
3         Adventure
7         Animation
11            Drama
52      Documentary
65            Crime
67        Biography
114          Family
130         Fantasy
379         Romance
455         Western
537          Horror
539          Sci-Fi
864         Musical
1065        History
1147        Mystery
1540       Thriller
2255          Music
2257           News
2762          Sport
3954           None
4067            War
dtype: object

## 2.6 Save data

In [247]:
movie_df_clean.shape

(3940, 18)

In [248]:
target_genres.shape

(23,)

In [249]:
# save the data to a new csv file
datapath = 'C:/Users/tpooz/OneDrive/Desktop/Data_Science_BootCamp_2023/SpringBoard_Github/IMDB_Classification/0_Datasets'
movie_df_clean.to_csv('C:/Users/tpooz/OneDrive/Desktop/Data_Science_BootCamp_2023/SpringBoard_Github/IMDB_Classification/0_Datasets/movie_df_clean.csv') 
target_genres.to_csv('C:/Users/tpooz/OneDrive/Desktop/Data_Science_BootCamp_2023/SpringBoard_Github/IMDB_Classification/0_Datasets/target_genres.csv')

## 2.7 Summary

After retrieving json and "cleaning of the IMDB movie data, columns were assessed for any null or missing values. Seems that stars and starslist are empty columns from intial API retrieval from IMDB. Also seems that rows within the "image" column and "genre" columns had different methods of inputted null values. The "image" column's null values were found with df.isnull() where as "genre"'s null values were found as blanks. Movies in these columns with respective null values were dropped for the future image classifier as the classifier needs both image data and a label in order to train. Then the dataset's movie genres were split into separate features for the future image classifier and a list of the respective features were saved as target for the output layer for the image classfier. The final shape of the dataset is (3940, 18) with 23 respective different unique labels of genres including 'None' as a label for the movie genre. Further EDA will be conducted in order to assess genre balance within the movie_df_cleaned dataset.